{{ $.Scratch.Set "dateType" .Date }}
<header>
    <div class="title">
        {{ if $.Scratch.Get "h1" }}
            <h1 class="p-name post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
            {{ $.Scratch.Set "h1" false }}
        {{ else }}
        <h2 class="p-name post-title"><a class="u-url" href="{{ .Permalink }}"></a>{{ .Title }}</a></h2>
        {{ end }}
        {{ with .Description }}
            <p class="p-summary">{{ . }}</p>
        {{ end }}
    </div>
    <div class="meta">
        <time class="published dt-published" datetime='{{ .Date.Format "Mon, 02 Jan 2006 15:04:05" }}'>{{ ($.Scratch.Get "dateType").Format "01-02-2006 15:04:05" }}</time>
        <span class="author p-author h-card">~{{ .ReadingTime }} minutes</span>
        <span><a style="border-bottom-color:transparent; font-size: 0.6em" href="{{ .Permalink }}">&#x1F517;</a></span>
    </div>
</header>
