<article class="post h-entry">
    {{ .Render "article-header" }}

    {{ .Render "featured" }}
    <div id="content" class="e-content post-content clearfix" itemprop="articleBody">
        {{ .Content }}
    </div>

    <section id="social-share">
        <ul class="icons">
            {{ partial "share-links" . }}
        </ul>
    </section>
    
    <footer>
        {{ .Render "footer-category" }}
    </footer>
</article>
{{ .Render "prev-next" }}

{{ if not (in (printf "%#v" .Site.BaseURL) "localhost") }}
<article class="post">
    <a class="muut" href="https://muut.com/i/kleinonline/comments" type="dynamic">kleinonline</a> <script src="//cdn.muut.com/1/moot.min.js"></script>
</article>
{{ end }}
