<ul class="actions pagination">
    {{ if .PrevInSection }}
        <li><a href="{{ .PrevInSection.Permalink }}"
               class="button big previous">{{ .PrevInSection.Title }}</a>
        </li>
    {{ end }}

    {{ if .NextInSection }}
        <li><a href="{{ .NextInSection.Permalink }}"
               class="button big next">{{ .NextInSection.Title }}</a>
        </li>
    {{ end }}
</ul>
