{{ partial "general-title" . }}

{{ partial "header" . }}
    {{ partial "navbar" . }}
    <!-- Main -->
    <div id="main">
      {{ partial "breadcrumb" . }}
      <article class="post">
          {{ $.Scratch.Set "h1" true }}
          {{ .Render "header" }}
          <div id="content">
              {{ .Content }}
          </div>
      </article>
    </div>
    {{ partial "sidebar" . }}
{{ partial "footer" . }}
