{{ .Scratch.Set "permalinkparts" (split .RelPermalink "/") }}
<div class="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <a href="/">Home</a>
        </li>
        {{ range $index, $part := (.Scratch.Get "permalinkparts") }}
        {{ range $i, $num := (seq 10) }}
            {{ if ge $index $i }}
                {{ if eq $i 0 }}
                    {{ $.Scratch.Set "url" (index ($.Scratch.Get "permalinkparts") $i) }}
                {{ else }}
                    {{ $.Scratch.Add "url" (print (index ($.Scratch.Get "permalinkparts") $i) "/") }}
                {{ end }}
            {{ end }}
        {{ end }}
        {{ if gt (len $part ) 0 }}
        <li>
            <a href="/{{ $.Scratch.Get "url" }}">{{ humanize (replace $part "posts" "blog") }}</a>
        </li>
        {{ end }}
    {{ end }}
    </ul>
</div>