<!-- Header -->
<header id="header">
    {{ if and (.IsNode) (or (.IsHome) (eq .Title "Posts")) }}
        <h1><a href="/">{{ .Site.Params.navbarTitle }}</a></h1>
    {{ else }}
        <h2><a href="/">{{ .Site.Params.navbarTitle }}</a></h2>
    {{ end }}

    <nav class="links">
        <ul>
            {{ range .Site.Menus.main }}
                <li>
                    <a href="{{ .URL }}">
                        {{ with .Identifier }}
                            <i class="{{ . }}">&nbsp;</i>{{ end }}{{ .Name }}
                    </a>
                </li>
            {{ end }}
        </ul>
    </nav>
    <nav class="main">
        <ul>
            {{ if $.Scratch.Get "shareNav" }}
            <li id="share-nav" class="share-menu" style="display:none;">
                <a class="fa-share-alt" href="#share-menu">Share</a>
            </li>
            {{ end }}
            <li class="search">
                <a class="fa-search" href="#search">Search</a>
                <form id="search" method="get" action="//google.com/search">
                    <input type="text" name="q" placeholder="Search" />
                    <input type="hidden" name="q" value="site:{{ .Site.BaseURL }}">
                </form>
            </li>
            <li class="menu">
                <a class="fa-bars" href="#menu">Menu</a>
            </li>
        </ul>
    </nav>
</header>

<!-- Menu -->
<section id="menu">

    <!-- Search -->
        <section>
            <form class="search" method="get" action="//google.com/search">
                <input type="text" name="q" placeholder="Search" />
                <input type="hidden" name="q" value="site:{{ .Site.BaseURL }}">
            </form>
        </section>

    <!-- Links -->
        <section>
            <ul class="links">
                {{ range .Site.Menus.main }}
                    <li>
                        <a href="{{ .URL }}">
                            <h3>
                                {{ with .Identifier }}
                                    <i class="{{ . }}">&nbsp;</i>
                                {{ end }}
                                {{ .Name }}
                            </h3>
                        </a>
                    </li>
                {{ end }}
            </ul>
        </section>

    <!-- Recent Posts -->
        <section>
            <ul class="links">
                <header>
                    <h3>Recent Posts</h3>
                </header>
                {{ with .Site.Params.postAmount.sidebar }}
                    {{ $.Scratch.Set "postLimit" . }}
                {{ else }}
                    {{ $.Scratch.Set "postLimit" 5 }}
                {{ end }}

                {{ range first ($.Scratch.Get "postLimit") (after 1 (where .Site.Pages "Type" "blog")) }}
                    <li>
                        <a href="{{ .Permalink }}"><p>{{ .Title }}</p></a>
                    </li>
                {{ end }}
            </ul>
        </section>

    <!-- Actions -->
        <!--
        <section>
            <ul class="actions vertical">
                <li><a href="#" class="button big fit">Log In</a></li>
            </ul>
        </section>
        -->
</section>
