<section id="share-menu">
    <section id="social-share-nav">
        <ul class="links">
            <header>
                <h3>Share this post <i class="fa fa-smile-o"></i></h3>
            </header>
            {{ partial "share-links" . }}
        </ul>
        <p>Or join us in the <a href="https://join.slack.com/t/kleinonline/shared_invite/enQtMzc2OTA4ODU0Nzg4LTAyYmI4MzBkOTdhZWFmOGJhY2JkOTQ0Nzc1Nzg3YmVkYjRmMDllZDhjMTRlZmY2NjlkZmI0MmEwMWU3OTM3NTM">Klein Online Slack</a>.</p>
    </section>
</section>
