<!-- Sidebar -->
<section id="sidebar">

    <!-- Intro -->
        <section id="intro">
            {{ $pic := .Site.Params.intro.pic }}
            {{ with $pic.src }}
                {{ if $pic.circle }}
                    <img src="{{ . }}" class="intro-circle" width="{{ $pic.width }}" alt="{{ $pic.alt }}" />
                {{ else if $pic.imperfect }}
                    <a href="/" class="logo"><img src="{{ . }}" alt="{{ $pic.alt }}" /></a>
                {{ else }}
                    <img src="{{ . }}" width="{{ $pic.width }}" alt="{{ $pic.alt }}" />
                {{ end }}
            {{ end }}
            {{ with .Site.Params.intro }}
                <header>
                    <h2>{{ .header }}</h2>
                    <p>{{ .paragraph | safeHTML }}</p>
                </header>
            {{ end }}
            <ul class="icons">
                {{ if .RSSLink }}
                    <li><a href="{{ .RSSLink }}" type="application/rss+xml"
                        target="_blank" title="RSS" class="fa fa-rss"></a></li>
                {{ end }}
                {{ if .Site.Params.socialAppearAtTop }}
                    {{ partial "social" . }}
                {{ end }}
            </ul>
        </section>

    <!-- Posts List -->
        <section id="recent-posts">
            <ul class="posts">
                <header>
                    <h3>Recent Posts</h3>
                </header>
                {{ if .Site.Params.orderByPublishDate }}
                    {{ $.Scratch.Set "recentPosts" (after 1 .Site.Pages.ByPublishDate.Reverse) }}
                {{ else }}
                    {{ $.Scratch.Set "recentPosts" (after 1 .Site.Pages) }}
                {{ end }}

                {{ with .Site.Params.postAmount.sidebar }}
                    {{ $.Scratch.Set "postLimit" . }}
                {{ else }}
                    {{ $.Scratch.Set "postLimit" 5 }}
                {{ end }}

                {{ range first ($.Scratch.Get "postLimit") (where ($.Scratch.Get "recentPosts") "Type" "blog") }}
                    <li>
                        <article>
                            <header>
                                <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                                {{ if .Site.Params.orderByPublishDate }}
                                    {{ $.Scratch.Set "dateType" .PublishDate }}
                                {{ else }}
                                    {{ $.Scratch.Set "dateType" .Date }}
                                {{ end }}
                                <time class="published" datetime=
                                    '{{ ($.Scratch.Get "dateType").Format "2006-01-02" }}'>
                                    {{ ($.Scratch.Get "dateType").Format "January 2, 2006" }}</time>
                            </header>
                        </article>
                    </li>
                {{ end }}

                {{ if ge (len (after 1 (where .Site.Pages "Type" "blog"))) ($.Scratch.Get "postLimit") }}
                    <li>
                        <ul class="actions">
                            <li><a href=
                            {{ with .Site.Params.viewMorePostLink }}
                                {{ . }}
                            {{ else }}
                                "/post/"
                            {{ end }}
                            class="button">View more posts</a></li>
                        </ul>
                    </li>
                {{ end }}
            </ul>
        </section>

    <!-- This if statement only applies if someone goes to the /categories url -->
    <!-- Otherwise this section is shown for all other links -->
    {{ if ne ($.Scratch.Get "showCategories") false }}
    <!-- Categories List -->
        <section id="categories">
            <ul class="posts">
                <header>
                    <h3><a href="/categories/">Categories</a></h3>
                </header>

                {{ if .Site.Params.categoriesByCount }}
                    {{ $.Scratch.Set "categories" .Site.Taxonomies.categories.ByCount }}
                {{ else }}
                    {{ $.Scratch.Set "categories" .Site.Taxonomies.categories.Alphabetical }}
                {{ end }}

                {{ range $key, $value := $.Scratch.Get "categories" }}
                    <li>
                        <article>
                            <header>
                                <a href="/categories/{{ $value.Name | urlize }}/">{{ $value.Name }}</a>
                                <span style="float:right;">{{ $value.Count }}</span>
                            </header>
                        </article>
                    </li>
                {{ end }}
            </ul>
        </section>
    {{ end }}

    <!-- About -->
      <section class="blurb h-card vcard">
        <h2>About <a href="{{ .Site.BaseURL }}" class="p-name u-url url metatag" rel="me">{{ .Site.Author.name }}</a></h2>
          {{ with .Site.Params.intro.about }}
          <p class="p-note">{{ . }}</p>
          {{ end }}
          <p>Email <a class="p-nickname u-email email metatag" style="text-decoration: none" rel="me" href="mailto:{{ .Site.Author.email }}">{{ .Site.Author.nick }}</a> if you feel like it. Or, join the <a href="https://join.slack.com/t/kleinonline/shared_invite/enQtMzc2OTA4ODU0Nzg4LTAyYmI4MzBkOTdhZWFmOGJhY2JkOTQ0Nzc1Nzg3YmVkYjRmMDllZDhjMTRlZmY2NjlkZmI0MmEwMWU3OTM3NTM">Klein Online Slack Workspace</a> to chat.</p>
          <ul class="actions">
            <li><a href="/about/" class="button">Learn More</a></li>
          </ul>
      </section>
    <!-- Footer -->
        <section id="footer">
            <ul class="icons">
                {{ if .RSSLink }}
                    <li><a href="{{ .RSSLink }}" type="application/rss+xml"
                        target="_blank" title="RSS" class="fa fa-rss"></a></li>
                {{ end }}
                {{ if .Site.Params.socialAppearAtBottom }}
                    {{ partial "social" . }}
                {{ end }}
            </ul>

            <p class="copyright">&copy; {{ .Site.Title }}. Design: <a href="http://html5up.net" target="_blank">HTML5 UP</a>. Ported by <a href="//github.com/jpescador" target="_blank">Julio Pescador</a>. Powered by <a href="//gohugo.io" target="_blank">Hugo</a></p>
            <p class="copyright">Last revision: {{ .Site.LastChange.Format "January 2, 2006" }}{{ if .IsPage }} | <em>{{ with .GitInfo }} {{ .Subject }} | {{ .AbbreviatedHash }}{{end }}</em>{{ end }}
        </section>

</section>
