{{ with .Site.Social.github }}
<li><a href="//github.com/{{.}}" target="_blank" title="GitHub" class="fa fa-github" rel="me"></a></li>
{{ end }}

{{ with .Site.Social.gitlab }}
<li><a href="//gitlab.com/{{.}}" target="_blank" title="GitLab" class="fa fa-gitlab" rel="me"></a></li>
{{ end }}

{{ with .Site.Social.bitbucket }}
<li><a href="//bitbucket.com/{{.}}" target="_blank" title="Bitbucket" class="fa fa-bitbucket" rel="me"></a></li>
{{ end }}

{{ with .Site.Social.jsfiddle }}
<li><a href="//jsfiddle.com/{{.}}" target="_blank" title="JSFiddle" class="fa fa-jsfiddle" rel="me"></a></li>
{{ end }}

{{ with .Site.Social.codepen }}
<li><a href="//codepen.io/{{.}}" target="_blank" title="CodePen" class="fa fa-codepen" rel="me"></a></li>
{{ end }}

{{ with .Site.Social.foursquare }}
<li><a href="//foursquare.com/{{.}}" target="_blank" title="Foursquare" class="fa fa-foursquare" rel="me"></a></li>
{{ end  }}

{{ with .Site.Social.dribbble }}
<li><a href="//dribbble.com/{{.}}" target="_blank" title="Dribbble" class="fa fa-dribbble" rel="me"></a></li>
{{ end }}

{{ with .Site.Social.deviantart }}
<li><a href="//{{.}}.deviantart.com/" target="_blank" title="DeviantArt" class="fa fa-deviantart" rel="me"></a></li>
{{ end }}

{{ with .Site.Social.behance }}
<li><a href="//behance.net/{{.}}" target="_blank" title="Behance" class="fa fa-behance" rel="me"></a></li>
{{ end }}

{{ with .Site.Social.flickr }}
<li><a href="//flickr.com/photos/{{.}}" target="_blank" title="Flickr" class="fa fa-flickr" rel="me"></a></li>
{{ end }}

{{ with .Site.Social.instagram }}
<li><a href="//instagram.com/{{.}}" target="_blank" title="Instagram" class="fa fa-instagram" rel="me"></a></li>
{{ end }}

{{ with .Site.Social.youtube }}
<li><a href="//youtube.com/{{.}}" target="_blank" title="YouTube" class="fa fa-youtube" rel="me"></a></li>
{{ end }}

{{ with .Site.Social.vimeo }}
<li><a href="//vimeo.com/{{.}}" target="_blank" title="Vimeo" class="fa fa-vimeo" rel="me"></a></li>
{{ end }}

{{ with .Site.Social.vine }}
<li><a href="//vine.co/{{.}}" target="_blank" title="Vine" class="fa fa-vine" rel="me"></a></li>
{{ end }}

{{ with .Site.Social.medium}}
<li><a href="//medium.com/@{{.}}" target="_blank" title="Medium" class="fa fa-medium" rel="me"></a></li>
{{ end }}

{{ with .Site.Social.wordpress }}
<li><a href="//{{.}}.wordpress.com" target="_blank" title="WordPress" class="fa fa-wordpress" rel="me"></a></li>
{{ end }}

{{ with .Site.Social.tumblr }}
<li><a href="//{{.}}.tumblr.com" target="_blank" title="Tumblr" class="fa fa-tumblr" rel="me"></a></li>
{{ end }}

{{ with .Site.Social.xing }}
<li><a href="//xing.com/profile/{{.}}" target="_blank" title="Xing" class="fa fa-xing" rel="me"></a></li>
{{ end }}

{{ with .Site.Social.linkedin }}
<li><a href="//linkedin.com/in/{{.}}" target="_blank" title="LinkedIn" class="fa fa-linkedin" rel="me"></a></li>
{{ end }}

{{ with .Site.Social.slideshare }}
<li><a href="//slideshare.com/{{.}}" target="_blank" title="SlideShare" class="fa fa-slideshare" rel="me"></a></li>
{{ end }}

{{ with .Site.Social.stackoverflow }}
<li><a href="//stackoverflow.com/users/{{.}}" target="_blank" title="Stack Overflow" class="fa fa-stack-overflow" rel="me"></a></li>
{{ end }}

{{ with .Site.Social.reddit }}
<li><a href="//reddit.com/user/{{.}}" target="_blank" title="Reddit" class="fa fa-reddit" rel="me"></a></li>
{{ end }}

{{ with .Site.Social.pinterest }}
<li><a href="//pinterest.com/{{.}}" target="_blank" title="Pinterest" class="fa fa-pinterest" rel="me"></a></li>
{{ end }}

{{ with .Site.Social.googleplus }}
<li><a href="//plus.google.com/+{{.}}" target="_blank" title="Google+" class="fa fa-google-plus" rel="me"></a></li>
{{ end }}

{{ with .Site.Social.facebook }}
<li><a href="//facebook.com/{{.}}" target="_blank" title="Facebook" class="fa fa-facebook" rel="me"></a></li>
{{ end }}

{{ with .Site.Social.twitter }}
<li><a href="//twitter.com/{{.}}" target="_blank" title="Twitter" class="fa fa-twitter" rel="me"></a></li>
{{ end }}

{{ with .Site.Social.email }}
<li><a href="mailto:{{.}}" title="Email" class="fa fa-envelope"></a></li>
{{ end }}
