{{ partial "header" . }}
    {{ $.Scratch.Set "shareNav" true }}
    {{ partial "navbar" . }}
    <!-- Main -->
    <div id="main">
        {{ range first 3 (after 1 (where .Site.Pages "Type" "blog")) }}
            <article class="post">
                {{ .Render "article-header" }}

                <p>{{ printf "%s" .Summary | markdownify }}</p>

                <footer>
                    <ul class="actions">
                        <li><a href="{{ .Permalink }}" class="button big">Continue Reading</a></li>
                    </ul>
                    {{ .Render "footer-category" }}
                </footer>
            </article>
        {{ end }}
    </div>
    {{ partial "sidebar" . }}
{{ partial "footer" . }}
