{{ partial "general-title" . }}

{{ partial "header" . }}
    {{ partial "navbar" . }}
    <!-- Main -->
    <div id="main">
        {{ if .Site.Params.categoriesByCount }}
            {{ $.Scratch.Set "categories" .Site.Taxonomies.categories.ByCount }}
        {{ else }}
            {{ $.Scratch.Set "categories" .Site.Taxonomies.categories.Alphabetical }}
        {{ end }}

        <ul class="posts">
            <header>
                <h1>{{ .Data.Plural }}</h1>
            </header>
            {{ $data := .Data }}
            {{ range $key, $value := $.Scratch.Get "categories" }}
                <li>
                    <article>
                        <header>
                            <a href="/{{ $data.Plural }}/{{ $value.Name | urlize }}">{{ $value.Name }}</a>
                            <span style="float:right;">{{ $value.Count }}</span>
                        </header>
                    </article>
                </li>
            {{ end }}
        </ul>
    </div>

    {{ $.Scratch.Set "showCategories" false }}
    {{ partial "sidebar" . }}
{{ partial "footer" . }}
